geo/*
manuscript_pdfs/*
MD_simulations/*
ucsc_trackhub/*
rdata/*
rebuttal/tmp/*
rebuttal/scripts/*
rebuttal/rin3_analysis/*
rebuttal/rdata/*
rebuttal/parsing_genome_dir/*
rebuttal/old/*
rebuttal/memesuite/*
rebuttal/heatmap/*
rebuttal/alphafold/*
rebuttal/ai/*
rebuttal/figures/*
rebuttal/rebuttal/*
rebuttal/mtsc_tead4_macs2_peaks_nexus_top1000_101bpwidth/*
rebuttal/mtsc_tead4_macs2_peaks_nexus_top1000_101bpwidth.fasta
rebuttal/mtsc_tead4_macs2_peaks_nexus_zoops_default_top100_101bpwidth/*
rebuttal/mtsc_tead4_macs2_peaks_nexus_zoops_default_top500_101bpwidth/*
rebuttal/mtsc_tead4_macs2_peaks_nexus_zoops_default_top1000_101bpwidth/*
analysis/memesuite/all_combined_tead4_peaks_seqs.fa
analysis/memesuite/all_peaks_motifs_ov_seqs.fa
analysis/memesuite/all_idr_peaks_seqs.fa
rebuttal/analysis/memesuite/all_combined_tead4_peaks_seqs.fa
rebuttal/analysis/memesuite/all_peaks_motifs_ov_seqs.fa
rebuttal/analysis/memesuite/all_idr_peaks_seqs.fa
rebuttal/homer_peakanalysis/old_with_5k_peaks/*
rebuttal/homer_peakanalysis/old_with_5k_peaks/older/seq.tsv
nucleartocyto_analysis/*
memesuite/*
luciferase_pdfs/*
bpnet/bed/*
bpnet/bpnet_single_tead4_esc/*
bpnet/bw/*
bpnet/config/*
bpnet/contrib/*
bpnet/cwm_all_regions/*
bpnet/cwm_task_regions/*
bpnet/dataspec/*
bpnet/fasta/*
bpnet/figures/*
bpnet/model/*
bpnet/modisco/*
bpnet/pred_contrib_bws/*
bpnet/scripts/*
bpnet/run_modisco.sge
bpnet/train_bpnet.sge
data_preparation/bam/*
data_preparation/crispr/*
data_preparation/bw/*
data_preparation/fastq/*
data_preparation/idr/*
data_preparation/indexes/*
data_preparation/narrowpeak/*
data_preparation/nohup.out/*
data_preparation/peaks/*
data_preparation/rdata/*
data_preparation/rsem/*
data_preparation/tmp/*
data_preparation/txt/*
bpnet_prep/bw/*
bpnet_prep/bed/*
bpnet_prep/idr/*
bpnet_prep/macs2/*
bpnet_prep/rdata/*
bpnet/bed/*
bpnet/bw/*
bpnet/contrib/*
bpnet/cwm_all_regions/*
bpnet/cwm_task_regions/*
bpnet/fasta/*
bpnet/model/*
bpnet/modisco/*
bpnet/pred_contrib_bws/*
bpnet/bpnet_single_tead4_esc/tsv/*
bpnet/bpnet_single_tead4_esc/tead4_esc/bed/*
bpnet/bpnet_single_tead4_esc/tead4_esc/bw/*
bpnet/bpnet_single_tead4_esc/tead4_esc/contrib/*
bpnet/bpnet_single_tead4_esc/tead4_esc/model/*
bpnet/bpnet_single_tead4_esc/tead4_esc/modisco/*
bpnet/bpnet_single_tead4_esc/tead4_esc/tsv/*
bpnet/analysis/tsv/*.pkl
bpnet/analysis/data/*
bpnet/analysis/contrib/log/bpnet-contrib.log
bpnet/analysis/contrib/tt_enhancers_contrib.h5
bpnet/analysis/contrib/*
bpnet/analysis/csv/*
bpnet/analysis/cwm_scan/*
bpnet/analysis/tmp/*
bpnet/analysis/two_mutation/*
bpnet/analysis/tsv/*
bpnet/analysis/data/*
